<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-local-notification-plugin" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>LocalNotificationPlugin</name>
    <description>Schedules and queries for local notifications</description>
    <dependency id="cordova-plugin-device" />
    <dependency id="cordova-plugin-badge" version=">=0.8.5" />

    <!-- js -->
    <js-module src="www/local-notification.js" name="LocalNotification">
        <clobbers target="cordova.plugins.notification.local" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="LocalNotification">
                <param name="ios-package" value="APPLocalNotification" onload="true" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <framework src="UserNotifications.framework" />
        <framework src="CoreLocation.framework" />

        <header-file src="src/ios/APPLocalNotification.h" />
        <source-file src="src/ios/APPLocalNotification.m" />

        <header-file src="src/ios/APPNotificationCategory.h" />
        <source-file src="src/ios/APPNotificationCategory.m" />

        <header-file src="src/ios/APPNotificationContent.h" />
        <source-file src="src/ios/APPNotificationContent.m" />

        <header-file src="src/ios/APPNotificationOptions.h" />
        <source-file src="src/ios/APPNotificationOptions.m" />

        <header-file src="src/ios/UNUserNotificationCenter+APPLocalNotification.h" />
        <source-file src="src/ios/UNUserNotificationCenter+APPLocalNotification.m" />

        <header-file src="src/ios/UNNotificationRequest+APPLocalNotification.h" />
        <source-file src="src/ios/UNNotificationRequest+APPLocalNotification.m" />
    </platform>

    <!-- android -->
    <platform name="android">
        <framework src="androidx.core:core:1.7.0" />
        <framework src="androidx.media:media:1.4.3" />
        <framework src="androidx.appcompat:appcompat:1.4.1" />
        <framework src="com.android.support:support-v4:28.0.0"/>
        <framework src="androidx.core:core:1.7.0" />
        <framework src="com.android.support:support-compat:28.0.0" />


        <framework src="src/android/build/localnotification.gradle" custom="true" type="gradleReference"/>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LocalNotification">
                <param name="android-package" value="de.appplant.cordova.plugin.localnotification.LocalNotification"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">

            <provider android:name="de.appplant.cordova.plugin.notification.util.AssetProvider" android:authorities="${applicationId}.localnotifications.provider" android:exported="false" android:grantUriPermissions="true">
                <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/localnotification_provider_paths"/>
            </provider>

            <receiver android:name="de.appplant.cordova.plugin.localnotification.TriggerReceiver" android:exported="false" />

            <receiver android:name="de.appplant.cordova.plugin.localnotification.ClearReceiver" android:exported="false" />

            <service android:name="de.appplant.cordova.plugin.localnotification.ClickReceiver" android:exported="false" />

            <receiver android:name="de.appplant.cordova.plugin.localnotification.RestoreReceiver" android:directBootAware="true" android:exported="false">
                <intent-filter>
                    <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                </intent-filter>
            </receiver>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

        </config-file>


        <source-file src="src/android/xml/localnotification_provider_paths.xml" target-dir="res/xml" />

        <source-file src="src/android/LocalNotification.java" target-dir="src/de/appplant/cordova/plugin/localnotification" />

        <source-file src="src/android/TriggerReceiver.java" target-dir="src/de/appplant/cordova/plugin/localnotification" />

        <source-file src="src/android/ClickReceiver.java" target-dir="src/de/appplant/cordova/plugin/localnotification" />

        <source-file src="src/android/ClearReceiver.java" target-dir="src/de/appplant/cordova/plugin/localnotification" />

        <source-file src="src/android/RestoreReceiver.java" target-dir="src/de/appplant/cordova/plugin/localnotification" />

        <source-file src="src/android/notification/action/Action.java" target-dir="src/de/appplant/cordova/plugin/notification/action" />

        <source-file src="src/android/notification/action/ActionGroup.java" target-dir="src/de/appplant/cordova/plugin/notification/action" />

        <source-file src="src/android/notification/receiver/AbstractClearReceiver.java" target-dir="src/de/appplant/cordova/plugin/notification/receiver" />

        <source-file src="src/android/notification/receiver/AbstractClickReceiver.java" target-dir="src/de/appplant/cordova/plugin/notification/receiver" />

        <source-file src="src/android/notification/receiver/AbstractRestoreReceiver.java" target-dir="src/de/appplant/cordova/plugin/notification/receiver" />

        <source-file src="src/android/notification/receiver/AbstractTriggerReceiver.java" target-dir="src/de/appplant/cordova/plugin/notification/receiver" />

        <source-file src="src/android/notification/trigger/DateTrigger.java" target-dir="src/de/appplant/cordova/plugin/notification/trigger" />

        <source-file src="src/android/notification/trigger/IntervalTrigger.java" target-dir="src/de/appplant/cordova/plugin/notification/trigger" />

        <source-file src="src/android/notification/trigger/MatchTrigger.java" target-dir="src/de/appplant/cordova/plugin/notification/trigger" />

        <source-file src="src/android/notification/util/AssetProvider.java" target-dir="src/de/appplant/cordova/plugin/notification/util" />

        <source-file src="src/android/notification/util/AssetUtil.java" target-dir="src/de/appplant/cordova/plugin/notification/util" />

        <source-file src="src/android/notification/Builder.java" target-dir="src/de/appplant/cordova/plugin/notification" />

        <source-file src="src/android/notification/Manager.java" target-dir="src/de/appplant/cordova/plugin/notification" />

        <source-file src="src/android/notification/util/CustomExceptionHandler.java" target-dir="src/de/appplant/cordova/plugin/notification/util" />

        <source-file src="src/android/notification/Notification.java" target-dir="src/de/appplant/cordova/plugin/notification" />

        <source-file src="src/android/notification/Options.java" target-dir="src/de/appplant/cordova/plugin/notification" />

        <source-file src="src/android/notification/Request.java" target-dir="src/de/appplant/cordova/plugin/notification" />
        <resource-file src="src/android/anb.png" target="res/drawable-ldpi-v4/pw_notification.png" />

    </platform>

</plugin>